[Desktop Entry]
Name=Revolt
Comment=User-first, privacy focused chat platform.
Exec=run.sh
Terminal=false
Type=Application
Icon=chat.revolt.RevoltDesktop
Categories=Network;InstantMessaging
StartupWMClass=revolt-desktop
X-Desktop-File-Install-Version=0.26
X-Flatpak=chat.revolt.RevoltDesktop
